---
import projects from "../../collections/projects.json";
import Button from "../button.astro";
import Project from "../project.astro";
import ContentSection from "../content-section.astro";
---

<ContentSection title="Projects" description="Some of my recent projects.">
  <div
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
  >
    {
      projects.map((project) => {
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.image}
            status={project.status}
            url={project.url}
          />
        );
      })
    }
  </div>
  <div slot="buttons">
    <Button text="View All My Projects" link="/projects" />
  </div>
</ContentSection>
