---
import Layout from "./main.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title + " | Michal Pasierbski"}>
  <Fragment slot="meta-tags">
    <!-- Primary Meta Tags -->
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={new URL(Astro.url.pathname, Astro.url).href}
    />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:description" content={frontmatter.description} />
    {
      frontmatter.heroImage && (
        <meta
          property="og:image"
          content={new URL(frontmatter.heroImage, Astro.url).href}
        />
      )
    }

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={new URL(Astro.url.pathname, Astro.url).href}
    />
    <meta property="twitter:title" content={frontmatter.title} />
    <meta property="twitter:description" content={frontmatter.description} />
    {
      frontmatter.heroImage && (
        <meta
          property="twitter:image"
          content={new URL(frontmatter.heroImage, Astro.url).href}
        />
      )
    }
  </Fragment>

  <main
    class="relative z-30 max-w-4xl pb-1 mx-auto mt-10 bg-white dark:bg-neutral-950 md:rounded-t-md text-neutral-900"
  >
    <div
      class="relative flex flex-col px-5 pt-6 border-t border-b-0 md:border-r md:border-l md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-neutral-200 dark:border-neutral-800"
    >
      <div
        class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950"
      >
      </div>
      <div
        class="absolute top-0 right-0 hidden w-px h-full mt-1 translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-950"
      >
      </div>
    </div>

    <article
      class="w-full max-w-2xl mx-auto mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
      {
        frontmatter.heroImage && (
          <div class="w-full bg-neutral-100 dark:bg-neutral-900 rounded-md">
            <img
              src={frontmatter.heroImage}
              alt={frontmatter.title}
              class="w-full h-full object-cover"
            />
          </div>
        )
      }

      <h1
        class="w-full max-w-2xl mx-auto text-3xl font-bold leading-tight tracking-tighter text-left md:mb-12 md:text-4xl dark:text-neutral-100 lg:text-5xl md:leading-none"
      >
        {frontmatter.title}
      </h1>

      <slot />
    </article>
  </main>
</Layout>
